<html>
    <head>
        <title>Weather App</title>
        <link rel="logo" href="/img/logo.jpg">
        <link rel="stylesheet" href="/css/help.css">
    </head>
    <body>
        <header>
        <h1>Help</h1>
        </header>
        <div>
            <a href="/home">Weather</a>
            <a href="/about">About</a>
            <a href="/help">Help</a>
        </div>
        <p>Some useful Information</p> 
        <footer>
            <p>Created By Sathishkumar K</p>
        </footer>
    </body>
</html>