<html>
    <head>
        <title>Weather App</title>
        <link rel="logo" href="/img/logo.jpg">
        <link rel="stylesheet" href="/css/home.css">
        <script src="/js/jquery-3.6.1.js"></script>
        <script src="/js/home.js"></script>
    </head>
    <body>
        <header>
        <h1>Weather App</h1>
        </header>
        <div>
            <a href="/home">Weather</a>
            <a href="/about">About</a>
            <a href="/help">Help</a>
        </div>
        <input type="text" id="city">
        <button id="searchBtn">Search</button>
        <footer>
            <p>Created By Sathishkumar K</p>
        </footer>
    </body>
</html>